body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
}

header {
    background: #020617;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.container {
    padding: 30px;
    text-align: center;
}

input {
    padding: 12px;
    width: 300px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 12px 20px;
    background: #22c55e;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.riesgo-alto { color: #ef4444; }
.riesgo-medio { color: #facc15; }
.riesgo-bajo { color: #22c55e; }

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

canvas {
    margin-top: 20px;
    background: #1e293b;
    padding: 10px;
    border-radius: 10px;
}