<!DOCTYPE html>
<html>
<head>
<title>SecureScan</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<header>

<div class="logo">🛡 SecureScan</div>

<div class="user-box">
<span>{{ session.get("usuario") }}</span>
<span>{{ session.get("rol") }}</span>

{% if session.get("rol") == "admin" %}
<a href="/admin">Admin</a>
{% endif %}

<a href="/logout">Salir</a>
</div>

</header>

<div class="container">

{% if session.get("rol") == "admin" or session.get("rol") == "analista" %}
<form method="POST" class="scan-box">
<input type="text" name="ip" placeholder="Escanea IP o dominio">
<button type="submit">Escanear</button>
</form>
{% endif %}

<div class="grid">

{% if riesgos %}
<div class="card">
<h2>Riesgos Detectados</h2>
<ul>
{% for r in riesgos %}
<li class="
{% if '🔴' in r %}riesgo-alto
{% elif '🟡' in r or '🟠' in r %}riesgo-medio
{% else %}riesgo-bajo
{% endif %}
">
{{ r }}
</li>
{% endfor %}
</ul>
</div>
{% endif %}

{% if recomendaciones %}
<div class="card">
<h2>Recomendaciones</h2>
<ul>
{% for rec in recomendaciones %}
<li>{{ rec }}</li>
{% endfor %}
</ul>
</div>
{% endif %}

<div class="card">
<h2>Alertas</h2>
<ul>
{% for alerta in alertas %}
<li class="riesgo-alto">{{ alerta }}</li>
{% endfor %}
</ul>
</div>

<div class="card">
<h2>Historial</h2>
<ul>
{% for h in historial %}
<li>{{ h[0] }} - {{ h[1] }}</li>
{% endfor %}
</ul>
</div>

</div>

</div>

</body>
</html>